body {
  font-size: 9pt;
  line-height: 2;
  background-color: #fff;
  color: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.4em;
  text-align: center;
}
table {
  border-collapse: collapse;
}
thead th {
  background-color: #DDD;
  text-align: center;
  font-weight: bold;
}
tbody th {
  background-color: #eee;
  font-weight: normal;
}
table,
th,
td,
.border {
  border-width: 1px;
  border-color: #000;
}
td {
  vertical-align: top;
}
td,
th {
  padding: 5px;
}
th.description {
  width: 40%;
}
table.collapse td {
  padding: 0;
}
td.stamp {
  border-style: solid solid dotted none;
  height: 100px;
  position: relative;
  text-align: center;
}
img.logo {
  width: auto;
  max-height: 9em;
}
img.signature,
img.stamp {
  width: auto;
  height: 100px;
}
img.signature {
  width: auto;
  height: 50px;
}
.label {
  background-color: #DDD;
}
.border {
  border-style: solid;
}
th,
.detail td {
  border-right-style: solid;
  border-bottom-style: solid;
}
th:nth-child(1),
.detail td:nth-child(1),
.border-all,
.border-left {
  border-left-style: solid;
}
tr:nth-child(1) th,
.border-all,
.border-top {
  border-top-style: solid;
}
.border-bottom {
  border-bottom-style: solid;
}
.border-top-bottom {
  border-top-style: solid;
  border-bottom-style: solid;
}
.underline {
  border-bottom-style: double;
  border-bottom-width: 3px;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.top {
  vertical-align: top;
}
.bottom {
  vertical-align: bottom;
}
.middle {
  vertical-align: middle;
}
.fullwidth {
  width: 100%;
}
.nowrap {
  white-space: nowrap;
}
.line {
  display: inline-block;
  padding: 0 1em;
  border-bottom: 1px dashed #000;
  vertical-align: bottom;
  min-width: 10em;
  text-align: center;
}
ol {
  padding: 0 0 0 20px;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.icon-uncheck::before {
  font-size: 1.4em;
  vertical-align: sub;
}
